div{
    border: dashed 2px black;
}
p{
    border: dashed;
    width: fit-content;
    position: static;
    height: 10px;
}
h1{
    position: absolute;
    right: 20px;
    top: 1px;
}
.a{
    position: static;
    top: 40px;
    right: 25px;
    border: double;
}